### What we are going to analyze ?

#### We aim to analayze Mozen Company Sales, their attitude of buying.

- Top Item : Mzn Whipped Soap Scrub Pink Musk 250G
- Best month that has sales is May because June and July are merge toghter.

In [27]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
data = pd.read_excel('Comp8 Sales data 2019.xlsx');
print(data.shape) # Show me data Rows and Columns

(54, 12)

#### We have 54 cols, 12 rows

In [28]:
data.head() # print (by defult cases) 5 values and we can select what we need or how much values

,Unnamed: 0,2018-01-01 00:00:00,Feb,March,April,May,June and July,August,September,OCT,Nov,DECEMBER
0,Description,INV,INV,INV,INV,INV,INV,INV,INV,INV,INV,INV
1,Mzn Body Butter Lavender 75G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mzn Body Butter Pink Musk 75G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mzn Body Butter Baby Powder 75G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mzn Body Butter vanilla musk 75G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are lots of null data.

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 12 columns):
Unnamed: 0             54 non-null object
2018-01-01 00:00:00    4 non-null object
Feb                    4 non-null object
March                  4 non-null object
April                  13 non-null object
May                    24 non-null object
June and July          30 non-null object
August                 4 non-null object
September              4 non-null object
OCT                    4 non-null object
Nov                    4 non-null object
DECEMBER               4 non-null object
dtypes: object(12)
memory usage: 5.2+ KB

### April, May, June and July are having the values. others months are null so we'll remove them. (In cleaning procees)

In [30]:
data.describe(include = ['O'])

,Unnamed: 0,2018-01-01 00:00:00,Feb,March,April,May,June and July,August,September,OCT,Nov,DECEMBER
count,54,4,4,4,13,24,30,4,4,4,4,4
unique,54,2,2,2,11,20,24,2,2,2,2,2
top,Mzn Whipped Soap Scrub Pink Musk 250G,0,0,0,1,1,11,0,0,0,0,0
freq,1,3,3,3,3,5,4,3,3,3,3,3

Conclusion:

Here we can see that 
### Whipped Soap Scrub Pink Musk 250G 
has the best saller among 2019 in company 8.
Looking to Total Number of items 

### May is the top monthe among all the monthes with 563 items. Total sales is 16,662 if we comapre it with june and july.

Recommendations